.residence-carousel{

width:50%;
position:relative;
overflow:hidden;

}



.slider-image{

opacity:0;
transform:scale(1.05);
transition:
all .6s ease;

}



.slider-image.show{

opacity:1;
transform:scale(1);

}



.slider-image img{

width:100%;
height:230px;
object-fit:cover;

}




.slider-arrow{
    display: none;


position:absolute;

top:50%;

transform:translateY(-50%);

width:42px;

height:42px;

border-radius:50%;

border:none;

background:white;

font-size:28px;

cursor:pointer;

opacity:.8;

transition:.3s;

}



.slider-arrow:hover{

opacity:1;

transform:
translateY(-50%)
scale(1.1);

}



.left{

left:15px;

}



.right{

right:15px;

}





.slider-dots{


position:absolute;

bottom:15px;

left:50%;

transform:translateX(-50%);

display:flex;

gap:8px;


}



.slider-dots button{


width:9px;

height:9px;

border-radius:50%;

border:none;

background:gray;

opacity:.5;

cursor:pointer;

transition:.3s;

}



.slider-dots .active-dot{
    background-color:#b8924a;


width:25px;

border-radius:10px;

opacity:1;

}